doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toom
        link(rel="stylesheet", href="../public/css/chatapp.css")
    body
        div#main
            div#Chatapp
                div#header
                    img(src="https://i.postimg.cc/FR6RLD6n/cat.png", width="35px")
                    h1 Toom
                    h2#intro Hi! Welcome Toom <br> Start a conversation
                div#welcome
                    h4 Open Rooms:
                        ul
                    form
                        input(placeholder ="room name",required,type="text") 
                        button Enter
                    
                div#myStream
                    div#room
                        h3
                        ul#chatting
                        form#msg
                            input(placeholder="text", required, type="text")
                            button Send
                        button#videoCall VideoCall
                    div#call
                        div#videoChat
                            div#myVideo
                                video#myFace(autoplay,playsinline,width="320",height="320")
                            video#peersFace(autoplay,playsinline,width="320",height="320")
                        div#options
                            button#mute Umute
                            button#camera Turn Off Camera
                            select#cameras
            div#img_web
                img(src='https://i.postimg.cc/6QbTB2jL/1935812.jpg')
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/chattingapp.js") 
               