
#phoneFrame{
    position: absolute;
    top:10%;
    left:30%;
    z-index: -1;
}
#header{
    width: 100vw;
    height: 20vh;
    font-size: 1.3vw;
}
body{
    background-image: url("https://i.postimg.cc/3wR0jzs1/apple-iphone-13-pro-max-2021-medium.png");
    background-repeat: no-repeat;
    background-size: 50vw 110vh;
    background-position: 30vw 0vh;
}


#Chatapp h1{
    border-radius: 30%;
    position: absolute;
    top:5vh;
    left:33vw;
    background-color: aquamarine;
    color: orange;
    width: 44vw;
    position: absolute;
    padding: 3vh 0;
    display: flex;
    justify-content: center;
}
#Chatapp h2{
    position: absolute;
    top:25vh;
    left:38vw;
    width: 35vw;

}
#welcome{
    width: 40vw;
    height:20vh;
    position: absolute;
    top:50vh;
    left:35vw;
    margin: 24px 0;
}

#welcome input{
    border-radius: 10px;
    background-color: rgb(227, 222, 222);
    border-style: none;
    height: 5vh;
    width: 30vw;
}
#welcome form{
    height: 15vh;
    width: 10vw;    
    
}
#welcome button{
    border-radius: 15px;
    background-color: aquamarine;
    color: white;
    height: 5vh;
    width: 10vw;
    margin: 1vh 0;
    border-style: none;
}

#myStream{
    z-index: -1;
    position:absolute; 
    top:23vh;
    left:35vw;
}

#chatting{
    list-style: none;
    border: solid aquamarine 12px;
    width: 33vw;
    height: 30vh;
}
#msg input{
    padding: 0px 1vw;
    border-radius: 1vw;
    background-color: rgb(227, 222, 222);
    border-style: none;
    height: 5vh;
    width: 25vw;
    color: white;
    margin: 0 1vw;

}

#msg button{
    border-radius: 15px;
    background-color: aquamarine;
    color: white;
    height: 5vh;
    width: 7vw;
    border-style: none;
    margin: 2vh 0;
}

#videoCall{
    margin: 0 1vw;
    border-radius: 15px;
    background-color: aquamarine;
    color: white;
    height: 5vh;
    width: 7vw;
    border-style: none;
}
#call{
    position: absolute;
    top:7vh;
    left: 10vw;
}
#myFace{
    height: 30vh;
    margin: 1vh 0;

}
#options{
    display: flex;
    justify-content: space-around;
}
#call button{
    border-radius: 15px;
    background-color: aquamarine;
    color: white;
    height: 5vh;
    width: 5vw;
    border-style: none;
}
#peersFace{
    margin: 1vh;
    height: 30vh;
}