
button:hover{
    cursor: pointer;
}

#main{
    display:flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: rgba(200,192,171,255);
}
#Chatapp{
    margin: 100px 50px;
    width: 400px;
    height: 550px;
    background-color: wheat;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    width: 100%;
    text-align: center;
    padding: 24px 0;
    background-image: url("https://i.postimg.cc/T2ZqbXZG/349649.jpg");
    background-size: cover;
    border-radius: 25px;

}
#header img{
    position: relative;
    left: -150px;
}

#welcome{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    position: relative;
    top:-24px;
    padding: 24px 24px;
    background-color: white;
    box-shadow: 3px 5px 3px gray;
}

#welcome.hidden{
    display: none;
}

#header h1{
    margin: 0;
}

#welcome ul{
    width: 100%;
    height: 100%;
}
#welcome form{
    display: flex;
    font-size: 24px;
}
#welcome input{
    border-radius: 10px;
    background-color: rgb(227, 222, 222);
    border-style: none;
    width: 80%;
    height: 36px;
}
#welcome button{
    margin: 0 12px;
    border-radius: 15px;
    background-color: rgb(84, 84, 237);
    color: white;
    width: 20%;
    height: 36px;
    border-style: none;
}
#myStream{
    width: 100%;
    height: 80%;
        
    }

#room{
    margin: 12px 0;
    position: relative;
    left: 18px;
    width: 90%;
    height: 95%;
    background-color: white;
    box-shadow: 3px 5px 3px gray;
    border-radius: 15px;
   
}
#room h3{
    margin: 0 8px;
}
#chatting{
    width: 85%;
    height: 75%;
    padding: 8px 8px;
    margin: 0;
}
#chatting li {
    list-style: none;
    margin: 0 12px;
}
#msg input{
    margin:0 8px;
    padding: 0 12px ;
    border-radius: 15px;
    background-color: rgb(227, 222, 222);
    border-style: none;
    height: 36px;
    width: 65%;
    color: black;


}

#msg button{
    border-radius: 15px;
    background-color: rgb(84, 84, 237);
    color: white;
    width: 20%;
    height: 36px;
    border-style: none;
}

#videoCall{
    position: relative;
    top:-95%;
    right:-75%;
    margin: 0;
    border-radius: 5px;
    background-color: rgb(84, 84, 237);
    color: white;
    width: 20%;
    height: 24px;
    margin: 12px 12px;
    border-style: none;
}
#call{
    width: 100%;
    height: 50%;
    position: relative;
    top:-88%;
    left:5%;
}
#videoChat{
    display: flex;
}
#peersFace{
    position: relative;
    left:5%;
}

@media only screen and (max-width: 732px) {
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    #videoChat{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        position: relative;
        right:25px;
    }
    #peersFace{
        position: relative;
        left:0%;
    }
    
}

/*

#myStream{
    z-index: -1;
    position:absolute; 
    top:23vh;
    left:35vw;
}

#chatting{
    list-style: none;
    border: solid aquamarine 12px;
    width: 33vw;
    height: 30vh;
}

#call{
    position: absolute;
    top:7vh;
    left: 10vw;
}
#myFace{
    height: 30vh;
    margin: 1vh 0;

}
#options{
    display: flex;
    justify-content: space-around;
}
#call button{
    border-radius: 15px;
    background-color: aquamarine;
    color: white;
    height: 5vh;
    width: 5vw;
    border-style: none;
}
#peersFace{
    margin: 1vh;
    height: 30vh;
} */